header{
  background: #0088ff; /* Old browsers */
  background: -moz-linear-gradient(left,  #0088ff 0%, #00f0a0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #0088ff 0%,#00f0a0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #0088ff 0%,#00f0a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088ff', endColorstr='#00f0a0',GradientType=1 ); /* IE6-9 */
}

body {
  font-family: "Neue Haas Unica Pro",-apple-system,BlinkMacSystemFont,sans-serif;    
}

h2 {
    text-transform: none;
}